.g-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    margin: 20px;
}

.g-container-div{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.g-image{
    width: 100%;
    height: auto;
    transition: transform 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.g-image:hover{
    transform: scale(1.1);
}

.delete-button{
    position: absolute;
    top: 7px;
    right: 7px;
    /* background: rgb(226, 217, 217); */
    /* color: white; */
    border: none;
    /* border-radius: 50%; */
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    max-width: 50%;
    max-height: 50%;
    margin: auto;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
  }
