.App {
  margin: 20px;
  padding: 0px 15px;
}

.a-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a-container button {
  height: 40px;
  width: 100px;
  margin: 3vh 0;
}

.a-container button:hover {
  background-color: cadetblue;
}
